body {
    font: 14px "Century Gothic", Futura, sans-serif;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    float: left;
    font-size: 3rem;
    font-weight: bold;
    line-height: 5rem;
    height: 5rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 5rem;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.status {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}