body {
    font: 16px 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    float: left;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: bold;
    line-height: 4rem;
    height: 4rem;
    padding: 0;
    text-align: center;
    width: 4rem;
    margin: 0.25rem;
}

.game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    font-size: 1.5rem;
}

.info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.25rem;
}

.timer {
    justify-self: start;
}

.moves {
    justify-self: end;
}

.timer, .moves {
    font-size: 1.25rem;
}

.option {
    margin-top: 1rem;
}

.win {
    background-color: green;
}

.feedback {
    font-size: 1rem;
}

.game-header {
    width: 18rem;
    font-size: 2rem;
}

.instructions {
    font-size: 1rem;
}

.instructions > span {
    margin-left: 0.5rem;
}

.instructions-toggler {
    font-size: 1rem;
}

.game-header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}