@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    float: left;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: bold;
    line-height: 4rem;
    height: 4rem;
    padding: 0;
    text-align: center;
    width: 4rem;
    margin: 0.25rem;
}

.game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.25rem;
}

.timer {
    justify-self: start;
}

.moves {
    justify-self: end;
}

.timer, .moves {
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
}

.option {
    margin-top: 1rem;
}

.win {
    background-color: $success;
}

.game-header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
}
@media (max-width: 480px) {
    .game-header {
        font-size: 4.5rem;
    }
}

@media (max-width: 320px) {
    .game-header {
        font-size: 3.5rem;
    }
}