$green:   #156428;

@import '~bootstrap/scss/bootstrap.scss';

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    float: left;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: bold;
    line-height: 4rem;
    height: 4rem;
    padding: 0;
    text-align: center;
    width: 4rem;
    margin: 0.25rem;
}

.game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info, .status {
    font-size: 1.5rem;
    font-weight: 500;
}

.status {
    text-align: center;
    width: 100%;
    background-color: $dark;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.25rem;
}

.timer {
    justify-self: start;
    width: 100%;
}

.moves {
    justify-self: end;
    width: 100%;
}

.option {
    margin-top: 1rem;
}

.win {
    background-color: $success;
}